@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$white-color: hsl(0, 0%, 100%);
$light-gray-color: hsl(212, 45%, 89%);
$grayish-blue-color: hsl(220, 15%, 55%);
$dark-blue-color: hsl(218, 44%, 22%);

body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;

    section {
        background-color: $light-gray-color;
        height: 100vh;
        // outline: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        #container {
            background-color: $white-color;
            // outline: 2px solid red;
            padding: 1rem;
            border-radius: 2rem;
            max-width: 375px;

            #image-and-text {
                // outline: 2px solid blue;

                img {
                    border-radius: 2rem;
                    height: 375px;
                    width: auto;
                    // outline: 2px solid grey;
                }

                #text {
                    // width: 275px;
                    text-align: center;
                    // outline: 2px solid grey;
                    margin: 1rem auto;
                }
            }
        }
    }

    .attribution {
        font-size: 11px;
        text-align: center;

        a {
            color: hsl(228, 45%, 44%);
        }
    }
}